body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(1, 6, 27, 1);
    color: rgba(28, 170, 188, 1);
     1 6 27*/
}

header{
    text-align: center;
    margin: 50px;
}

#main{
    display: flex;
}

.picks{
    width:40%;
    padding: 20px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(125, 178, 102);
}

.picks form{
    margin: 0px;
}

.picks form label{
    margin-left: 10px;
    margin-right: 10px;
}

#propositions{
    width: 60%;
    text-align: center;
}

#propositions div{
    height: 100%;
}

#propositions div table{
    text-align: center;
}

#right_picks{
    text-align: right;
}

.red{
    color:red;
}

.green{
    color:green;
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}

#right_picks{
    color:rgb(94, 0, 0);
    background-color: rgba(112, 62, 62, 0.596);
}

#left_picks{
    color:rgb(11, 94, 133);
    background-color: rgba(102, 102, 173, 0.363);
}