body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(1, 6, 27, 1);
    color: rgba(28, 170, 188, 1);
     1 6 27*/
}

header{
    text-align: center;
    margin: 50px;
}

#main{
    display: flex;
}

#main input[type=submit]{
    width:100px;
    height:40px;
    background-color: rgb(29, 163, 118);
    margin: 0px;
    color:greenyellow;
    border: none;
}


.picks{
    width:40%;
    padding: 20px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(125, 178, 102);
    text-align: center;
}

.picks h2{
    text-align: center;
    margin-bottom: 30px;
}

.picks form{
    margin: 0px;
}

.picks p{
    text-align: center;
}

.picks form label{
    margin-left: 10px;
    margin-right: 10px;
}

#propositions{
    width: 60%;
    text-align: center;
}

#propositions div{
    height: 90%;
    padding: 10px;
    padding-top:20px;
}

#propositions div table{
    text-align: center;
}

#right_picks{
    text-align: right;
}

.red{
    color:red;
}

.green{
    color:green;
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}

#right_picks{
    color:rgb(94, 0, 0);
    background-color: rgba(112, 62, 62, 0.596);
    text-align: center;
}

#left_picks{
    color:rgb(11, 94, 133);
    background-color: rgba(102, 102, 173, 0.363);
}

#right_picks form{
    width:300px;
    margin: 0 auto;
    text-align: right;
}

#left_picks form{
    width:300px;
    margin: 0 auto;
    text-align: left;
}